html,body {
    background-color: #CFCFCF;
    height: 100%;
    width: 100%;
    overflow: auto;
    margin: 0;
    padding: 0;
}
* {
    outline: 1px solid pink;
}
.boxTopWht {
    background-color: #FFFFFF;
    margin: 5% 10%;
    padding: 2% 5%;
    overflow: auto;
}
    boxTopWht p {
        font-size: 20px;
    }
    .button {
        height: 50px;
        width: 125px;
        color: white;
        margin: 5% 2% 5% 0;
        text-align: center;
        float: left;
        line-height: 50px;
        vertical-align: middle;
}
/*Traditionally the lines commented below would 
have worked to center the text within the boxes
.valine {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }*/
            .red {
                    background-color: red;
            }
            .blue {
                    background-color: blue;  
            }
  
.boxMidWht {
    background-color: #FFFFFF;
    height: 70%;
    margin: 5% 10%;
}
    .t1 {
        text-align: left;
        top: auto;
    }
.boxBotBlk {
    background-color: #262626;
    height: 10%;
    width: 100%;  
    object-position: bottom;
    
}